body{
    margin : 40px;
    background-image: url('Pics/Temp8.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    width : 100%;
    height: 100%;
}
.heading{
    display: flex;
    justify-content: center;
}
.heading h1{
    color : white;
    font-size: 45px;
}
.Temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;

}
.result{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size : 40px;
}
@media(max-width : 680px){
    .Temp{
        flex-direction: column;
    }
    .result{
        font-size: 20px;
    }
    .heading h1{
        color : white;
        font-size: 25px;
    }
}
.C,.K,.F{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    width : 300px;
}
.C p, .K p, .F p{
    color : white;
    font-size : 20px;
}
#C-result, #F-result, #K-result{
    
    color : white;
}
#C-input, #F-input, #K-input{
    padding : 10px 15px;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    background: transparent;
    color: white;
    margin-bottom: 20px;
}

.F button, .C button, .K button{
    background: transparent;
    border-style: solid;
    border-color: white;
    color: white;
    padding : 10px 15px;
    border-radius: 10%;
    cursor: pointer;
}
input::placeholder{
    color: white;
}



